
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    color: #333;
    background-color: rgb(203, 235, 224);
}

.container{
    width: 1000px;
    margin: 36px auto; 
}


.logo{
    font-size: 48px;
    font-weight: bold;
    color:darkolivegreen;
    background-image: url(images/logo_background.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 6px;
    text-align: center;

}

nav {
    text-align: center; 
}

nav ul {
    background-color: lightgray;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: rgb(55, 55, 55);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; 
    padding: 8px 12px; 
}


/* hover = mouse is on the element */
nav a:hover{
    color:darkolivegreen;
    text-decoration: underline;
}


h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    font-size: 28px;
    margin-top: 20px;
}

p.date {
    font-style: italic;
}

img {
    width: 800;
    height: auto;
    display: block;
    margin-bottom: 15px;
}

blockquote {
    font-style: italic;
    margin-left: 10px;
    background-color: #f9f9f9;
    padding: 10px;
}


footer {
    background-color: rgb(55,55,55);
    color: rgb(241, 241, 241);
    font-size: 16px;

    /* padding: top right bottom left; */
    padding: 16px 24px 16px 24px;
}